.projects-v1 {
  height: 100%;
  width: 100%;
  padding: 5.5rem 0;

  &__container {
    padding: 0 15%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
    width: 100%;

    .project-card {
      width: 100%;
      height: 100%;
      scroll-snap-align: start;

      display: flex;
      flex-direction: column;

      &__head {
        font-size: 2.5rem;
        display: flex;
      }

      &__content {
        flex-basis: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        .content {
          &__image-container {
            grid-area: 1/1/2/8;
            position: relative;
            display: grid;
            align-items: center;
            transition: filter 0.5s ease-out;
            filter: grayscale(1);
            img {
              width: 100%;
              cursor: pointer;
            }

            &:hover {
              filter: grayscale(0);
            }
          }

          &__text-container {
            grid-area: 1/6/2/13;
            position: relative;
            z-index: 1;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &--head {
              font-size: 2.5rem;
              display: flex;
              flex-direction: row-reverse;
              white-space: nowrap;
            }
            &--description {
              padding: 1rem;
              background-color: map-get($color-map, primary);
              border-radius: 4px;
            }
            &--tech {
              display: flex;
              flex-direction: row-reverse;
              column-gap: 0.5rem;
              flex-wrap: wrap;
              span {
                white-space: nowrap;
              }
            }
            &--actions {
              font-size: 2rem;
            }
          }
        }
      }

      &.left {
        .project-card {
          &__head {
            flex-direction: row-reverse;
          }
          &__content {
            .content {
              &__image-container {
                grid-area: 1/6/2/13;
              }
              &__text-container {
                grid-area: 1/1/2/8;
                text-align: left;

                &--head,
                &--tech {
                  flex-direction: row;
                }
              }
            }
          }
        }
      }
    }

    .filler {
      height: 80%;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
